
  
  .search-icon {
    color: var(--primary-color);
    cursor: pointer;
    transition: all 500ms;
  }
  
  .header_side_bar .side_list .link_bx:hover .search-icon{
    color: #fff;
  }

  .search-form-container {
    background-color: white;
    position: relative;
    padding: 8px;
    border: 2px solid var(--primary-color);
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 99;
    border-radius: 5px;
  }
  
  .search-form-container.active {
    opacity: 1;
    visibility: visible;
  }
  
  .search-input {
    padding: 0px 8px 0px 22px;
    border: none;
    border-radius: 4px 0 0 4px;
  }
  
  .search-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    padding: 0 8px;
  }
  
  .search-button:hover {
    background-color: var(--primary-color);
  }
  
.search-results {
  background-color: white;
  overflow-y: scroll;
  left: 0;
  width: 100%;
  height: auto;
  box-shadow: 0 0 3px #000;
  margin-top: 17px;
  border-radius: 5px;
  max-height: 339px;
  z-index: 999;
}
.search-results::-webkit-scrollbar {
  width: 8px; 
}

.search-results::-webkit-scrollbar-track {
  background: #fff;  
  height: 5px;
}

.search-results::-webkit-scrollbar-thumb {
  border-radius: 10px; 
  background: var(--primary-color);
  width: 3px;
}
  
  .search-results h4 {
    margin-bottom: 10px;
  }
  
  .search-results ul {
    list-style: none;
    padding: 0;
    text-align: start;
  }
  
  .search-results li {
    cursor: pointer;
    padding: 10px !important;
    border-bottom: 1px solid #ededed;
    transition: all 500ms;
  }
  
  .search-results li:hover {
    background-color: #f5f5f5;
  }
  